.task-card {
  color: black;
  margin-right: 10px;
}

.task-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.task-icon {
  cursor: pointer;
  position: absolute;
  float: right;
  right: 15px;
}
