<div mat-dialog-content>
  <p>edit your tast</p>
  <mat-form-field>
    <mat-label>title</mat-label>
    <input matInput [(ngModel)]="data.title" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>description</mat-label>
    <input matInput [(ngModel)]="data.description" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="warn" (click)="onNoClick()">
    No Thanks
  </button>
  <button
    mat-stroked-button
    color="primary"
    [mat-dialog-close]="data"
    cdkFocusInitial
  >
    change
  </button>
</div>
