.task-card {
  max-width: 300px;
  margin: 15px;
}

.task-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.task-header {
  text-align: center;
  font-family: fantasy;
  font-size: 50px;
  margin: 20px;
}
