<div>
  <header class="task-header">
    <app-add-task (addTask)="addTask($event)" [listId]="listId"></app-add-task>
  </header>
  <div
    class="row task-flex"
    *ngIf="tasks !== undefined && tasks.length !== 0; else showMessage"
  >
    <app-task-item
      *ngFor="let task of tasks"
      [task]="task"
      (deleteTask)="deleteTask($event)"
      (addToComplete)="addToComplete($event)"
      (editTask)="editTask($event)"
      (addToHomePage)="addToHomePage($event)"
      class="col-6 col-s-12 task-card"
    >
    </app-task-item>
  </div>
</div>
<ng-template #showMessage>
  <h2 class="else-message">
    there is no task!!!
  </h2>
</ng-template>
