<mat-accordion
  class="col-11 completed-task-layout"
  *ngIf="tasks !== undefined && tasks.length !== 0; else showMessage"
>
  <mat-expansion-panel
    *ngFor="let task of tasks"
    [expanded]="step === task._id"
    (opened)="setStep(task._id)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ task.title }}
      </mat-panel-title>
      <mat-panel-description>
        {{ reformatDate(task.date) }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p><strong>description</strong>: {{ task.description }}</p>

    <mat-action-row>
      <button mat-stroked-button color="warn" (click)="onDelete(task._id)">
        delete
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<ng-template #showMessage>
  <h2 class="else-message">
    there is no completed task!!!
  </h2>
</ng-template>
